extends layout

block content
    .main.container
        .columns.tribune-leaderboard-columns
            .column
                .tribune-leaderboard
                    h4.title.is-5.caption
                        | <br />
                        | Browse Community Programs
                    ul.is-unstyled 
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Housing-One Time Rent Assistance')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Housing - One Time Rent Assistance
                                    .column.external.is-narrow
                                        a.track-event(href=' https://www.siliconvalley.salvationarmy.org/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | One time asistance for rent, utilities, and bills from Salvation Army.
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Housing-One Time Rent Assitance')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Housing - One Time Rent Assistance
                                    .column.external.is-narrow
                                        a.track-event(href='https://sacredheartcs.org/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | One time asistance for rent, utilities, and bills from Sacred Hearts.
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Transient - Soup Kitchens
                                    .column.external.is-narrow
                                        a.track-event(href='https://www.loavesfishes.org/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Soup kitchen from Loaves and Fishes.
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Transient - Shelters
                                    .column.external.is-narrow
                                        a.track-event(href='https://lifemoves.org/santa-clara-county' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Shelters in Santa Clara County 
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Housing - Subsidized Housing
                                    .column.external.is-narrow
                                        a.track-event(href='https://www.wvcommunityservices.org/housing' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | West Valley Community Service subsidized housing options. 
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Housing - Counseling and Advice
                                    .column.external.is-narrow
                                        a.track-event(href='https://www.housing.org/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Housing Advice and Counseing Services.
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Disability Public Transportation
                                    .column.external.is-narrow
                                        a.track-event(href='https://www.vta.org/go/accessibility' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Public transportation services for adults with disabilities. 
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Transportation to Hospitals
                                    .column.external.is-narrow
                                        a.track-event(href='https://www.elcaminohealth.org/services/roadrunners-transportation' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Transportation to El Camino Hospital.      
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Seniors Free Transportation Services
                                    .column.external.is-narrow
                                        a.track-event(href='https://servicesforseniors.org/services-programs/services/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Transportation for seniors over 65.   
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') General Counseling
                                    .column.external.is-narrow
                                        a.track-event(href='https://www.communitysolutions.org/need-help/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | General Counseling for Adults. 
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Health Care 
                                    .column.external.is-narrow
                                        a.track-event(href='www.coveredca.com' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | CoveredCA Information                                                  
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') General Health Care Information
                                    .column.external.is-narrow
                                        a.track-event(href='http://www.mysourcewise.com/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Health Care Information including resource and options available.   
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Food Pantry Options
                                    .column.external.is-narrow
                                        a.track-event(href='https://sacredheartcs.org/programs/food-clothing/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Sacred Heart Food Banks.   
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Rentry - Employment Opportunities 
                                    .column.external.is-narrow
                                        a.track-event(href='https://econmobility.org/spark-point-san-jose/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Job Search in San Jose .   
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Rentry - Legal Aid 
                                    .column.external.is-narrow
                                        a.track-event(href='https://law.stanford.edu/community-law-clinic/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Community Law Clinic.   
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') Hotlines
                                    .column.external.is-narrow
                                        a.track-event(href='https://www.elcaminohealth.org/services/roadrunners-transportation' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Santa Clara County Behavioral Health Hotline: 855-278-4204. <br />
                                        | Hotline/Warmline: 1-408-453-0400. <br />
                                        | Sexual Assualt Hotline: 800-572-2782. <br />
                                        | Youth: 800-388-3888. <br />
                                        | Substance Abuse: 800-622-2255 <br />
