extends layout

block content
    .main.container
        .columns.tribune-leaderboard-columns
            .column
                .tribune-leaderboard
                    h4.title.is-5.caption
                        | Browse Community Programs
                    ul.is-unstyled 
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') 1. Apphud
                                    .column.external.is-narrow
                                        a.track-event(href='https://apphud.com/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Integrate, analyze and improve auto-renewable subscriptions in your iOS app.
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') 1. Apphud
                                    .column.external.is-narrow
                                        a.track-event(href='https://apphud.com/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Integrate, analyze and improve auto-renewable subscriptions in your iOS app.
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') 1. Apphud
                                    .column.external.is-narrow
                                        a.track-event(href='https://apphud.com/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Integrate, analyze and improve auto-renewable subscriptions in your iOS app.
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') 1. Apphud
                                    .column.external.is-narrow
                                        a.track-event(href='https://apphud.com/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Integrate, analyze and improve auto-renewable subscriptions in your iOS app.
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') 1. Apphud
                                    .column.external.is-narrow
                                        a.track-event(href='https://apphud.com/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Integrate, analyze and improve auto-renewable subscriptions in your iOS app.
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') 1. Apphud
                                    .column.external.is-narrow
                                        a.track-event(href='https://apphud.com/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Integrate, analyze and improve auto-renewable subscriptions in your iOS app.
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') 1. Apphud
                                    .column.external.is-narrow
                                        a.track-event(href='https://apphud.com/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Integrate, analyze and improve auto-renewable subscriptions in your iOS app.
                        li
                        .columns.is-mobile
                            .column.logo.is-narrow
                                figure.image.is-48x48(title='Apphud')
                                    a.prefetch(href='/apphud-alternatives' data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693')
                                        img.logo(src='https://www.saashub.com/images/app/service_logos/83/b094248c0581/medium.png?1569485693' alt='Apphud logo' loading='lazy' width='48' height='48')
                            .column.main
                                .columns.tribune-leaderboard__title.is-mobile
                                    .column.name
                                        h6.title.is-5
                                            a.prefetch(data-prefetch='https://www.saashub.com/images/app/service_logos/83/b094248c0581/large.png?1569485693' href='/apphud-alternatives') 1. Apphud
                                    .column.external.is-narrow
                                        a.track-event(href='https://apphud.com/' title='Visit Website' rel='' target='_blank' data-event-name='click' data-service-slug='apphud' data-ref='tribune-leaderboard')
                                            i.fa.fa-external-link
                                .columns.tagline.details
                                    .column
                                        | Integrate, analyze and improve auto-renewable subscriptions in your iOS app.                                                