extends layout

block content
  .main.container
    .login
      h1 Login to BOOST
      form(method='POST' action='/login')
        p
          input.input(type='text' name='login' value='' placeholder='Email')
        p
          input.input(type='password' name='password' value='' placeholder='Password')
        p.remember_me
          label
            input#remember_me(type='checkbox' name='remember_me')
            |               Remember me on this computer
        p.submit
          input(type='submit' name='commit' value='Login')

    .login-help
      p
        | Forgot your password? 
        a(href='#') Click here to reset it
        | .
