extends ../layout

block content
  .main.container
    .row
      .columns.is-mobile
        .column.is-half.is-offset-one-quarter
          label.label Register
          form(method='POST' action='/admins/register')
            .field
              p.control.has-icons-left.has-icons-right
                input.input(type='email' placeholder='Email' name='email')
                span.icon.is-small.is-left
                  i.fas.fa-envelope
                span.icon.is-small.is-right
                  i.fas.fa-check
            .field
              p.control.has-icons-left
                input.input(type='password' placeholder='Password' name='password')
                span.icon.is-small.is-left
                  i.fas.fa-lock
            .field
              p.control.has-icons-left
                input.input(type='password2' placeholder='Confirm Password' name='password2')
                span.icon.is-small.is-left
                  i.fas.fa-lock
            .field
              .control
                button.button.is-link Sign up
